<% provide :title, "#{t"static_pages.about.title"}" %>
<h1><%= t"static_pages.about.title" %></h1>
<p>
  <%= link_to  "#{t "static_pages.about.content_link_1"}", Settings.link_rortutorial %>
  <%= link_to "#{t "static_pages.about.content_link_2"}", Settings.link_book %> and
  <%= link_to "#{t "static_pages.about.content_link_3"}", Settings.link_screencast_series %>
  <%= t"static_pages.about.content_1" %>
  <%= link_to "#{t "static_pages.about.content_link_4"}", Settings.link_rortutorial %>
  <%= t"static_pages.about.content_2" %>
</p>
